{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block table_body %}
    {% set project = null %}
    {% for entity in entities %}
        {% if entity.isAccessible %}
            {% if entity.instance.project.id != project %}
                <th data-id="{{ entity.primaryKeyValueAsString }}" colspan="8">
                    {{ entity.instance.project.name }}
                </th>
                {% set project = entity.instance.project.id %}
            {% endif %}
            <tr data-id="{{ entity.primaryKeyValueAsString }}">
                {% if has_batch_actions %}
                    <td class="batch-actions-selector">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-batch-checkbox" value="{{ entity.primaryKeyValue }}">
                        </div>
                    </td>
                {% endif %}

                {% for field in entity.fields %}
                    <td data-label="{{ field.label|trans|e('html_attr') }}" class="{{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}">
                        {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                    </td>
                {% endfor %}

                {% block entity_actions %}
                    {{ parent() }}
                {% endblock entity_actions %}
            </tr>

        {% endif %}
    {% else %}
        {% block table_body_empty %}
            {{ parent() }}
        {% endblock table_body_empty %}
    {% endfor %}

    {% if some_results_are_hidden %}
        <tr class="datagrid-row-empty">
            <td class="text-center" colspan="100">
                <span class="datagrid-row-empty-message"><i class="fa fa-lock mr-1"></i> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
            </td>
        </tr>
    {% endif %}
{% endblock table_body %}