<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Sélectionner</th>
        <th scope="col">Projet</th>
        <th scope="col">Produit</th>
        <th scope="col">Description</th>
        <th scope="col">Q dispo</th>
        <th scope="col" style="width: 100px;">Prix</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        {% for product in project.productEvent %}
            {% set url = ea_url()
                .setAction('createSale')
                .set('contactId', contact_id)
                .set('productId', product.id)%}
            <tr>
                <td><a href="{{ url }}"><i class="fa-solid fa-circle-check"></i></a></td>
                <th scope="row">{{ project.name }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description|raw }}</td>
                <td> - </td>
                <td> - </td>
            </tr>
        {% endfor %}
        {% for product in project.productPackage %}
            {% set url = ea_url()
                .setAction('createSale')
                .set('contactId', contact_id)
                .set('productId', product.id)%}
            <tr style="{% if product.quantityAvailable is not null and product.quantityAvailable == 0 %}background-color:#f5d8e0;{% endif %}">
                <td><a href="{{ url }}"><i class="fa-solid fa-circle-check"></i></a></td>
                <th scope="row">{{ project.name }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description|raw }}</td>
                <td>{{ product.quantityAvailable }}</td>
                <td>{% if product.ca is defined and product.ca > 0 %}{{ product.ca|number_format(2, ',', ' ') }}  €{% else %} - {% endif %}</td>
            </tr>
        {% endfor %}
        {% for product in project.productSponsoring %}
            {% set url = ea_url()
                .setAction('createSale')
                .set('contactId', contact_id)
                .set('productId', product.id)%}
            <tr>
                <td><a href="{{ url }}"><i class="fa-solid fa-circle-check"></i></a></td>
                <th scope="row">{{ project.name }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description|raw }}</td>
                <td>{{ product.quantityAvailable }}</td>
                <td>{% if product.ca is defined and product.ca > 0 %}{{ product.ca|number_format(2, ',', ' ') }}  €{% else %} - {% endif %}</td>
            </tr>
        {% endfor %}
        {% for product in project.productDivers %}
            {% set url = ea_url()
                .setAction('createSale')
                .set('contactId', contact_id)
                .set('productId', product.id) %}
            <tr>
                <td><a href="{{ url }}"><i class="fa-solid fa-circle-check"></i></a></td>
                <th scope="row">{{ project.name }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description|raw }}</td>
                <td> - </td>
                <td> - </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>