{% extends "email/emailBase.html.twig" %}

{% block content %}
    <row>
        <columns>
            <p>
                {{ 'email.user.account_confirmation.body1'|trans }}
                {{ 'email.user.account_confirmation.body2'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
            <p>
                {{ 'email.user.account_confirmation.body3'|trans }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ signedUrl|sanitize }}">{{ 'email.user.account_confirmation.submit'|trans }}</button>
            </center>
        </columns>
    </row>
{% endblock %}

