<div {{ attributes }}>
    <div class="row">
        <div class="card card-body py-3">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div>
                            <h3 class="mb-4 mb-md-0 card-title">{{project.name}}</h3>
                            {% if project.dateBegin == project.dateEnd %}
                                <b>Date: {{ project.dateBegin|date('d/m/Y') }}</b>
                            {% else %}
                                <b>du {{ project.dateBegin|date('d/m/Y') }} au {{ project.dateEnd|date('d/m/Y') }}</b>
                            {% endif %}
                        </div>
                        <div>
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <a href="{{ ea_url()
                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                    .setController('App\\Controller\\Admin\\ProjectCrudController')
                                    .setAction('createEvent')
                                    .setEntityId(project.id) }}"
                                   class="btn bg-primary-subtle text-primary ">
                                    Créer un event
                                </a>
                                <a href="{{ ea_url()
                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                    .setController('App\\Controller\\Admin\\ProjectCrudController')
                                    .setAction('createPackage')
                                    .setEntityId(project.id) }}" class="btn bg-primary-subtle text-primary ">
                                    Créer un package VIP
                                </a>
                                <a href="{{ ea_url()
                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                    .setController('App\\Controller\\Admin\\ProjectCrudController')
                                    .setAction('createSponsoring')
                                    .setEntityId(project.id) }}" class="btn bg-primary-subtle text-primary ">
                                    Créer un sponsoring
                                </a>
                                <a href="{{ ea_url()
                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                    .setController('App\\Controller\\Admin\\ProjectCrudController')
                                    .setAction('createDivers')
                                    .setEntityId(project.id) }}"  class="btn bg-primary-subtle text-primary ">
                                    Créer un divers
                                </a>
                            </div>
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <a href="{{ ea_url()
                                    .setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ProjectCrudController').setAction('archiveProject').setEntityId(project.id) }}" class="btn bg-danger-subtle text-danger ">
                                    Archiver le projet
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if project.archive %}
        <div class="alert alert-warning mt-3" role="alert">
            <h4 class="alert-heading">Attention</h4>
            <p>Ce projet est archivé !</p>
        </div>
    {% endif %}



    {% if project.productEvent is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-stretch">
                <div class="card card-body py-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-4 mb-md-0 card-title">Events à la carte</h2>
                                <div class="col-md-6">
                                    <input type="text" value="" name="search" class="form-control col-md-6" placeholder="Recherche" data-model="queryEvent">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for event in this.events %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-3">
                    <div class="card w-100">
                        <div class="card-body bg-success-subtle">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ event.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-info-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Clone">
                                                <i class="fa fa-clone"></i>
                                            </button>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                                .setAction('new')
                                                .set('entityFqcn', 'App\\Entity\\Sales')
                                                .set('productId', event.id)
                                                .set('projectId', project.id)
                                                .setEntityId(null)

                                            }}"  class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Créer une vente">
                                                <i class="fa fa-euro-sign"></i>
                                            </a>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\ProductEventCrudController')
                                                .setAction('edit')
                                                .setEntityId(event.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-pen-to-square"></i>
                                            </a>
                                            <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                                    data-live-action-param="delete" data-live-id-param="{{ event.id }}" data-bs-toggle="tooltip" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    {% if event.dateBegin == event.dateEnd %}
                                        <b>Date: {{ event.date|date('d/m/Y') }}</b>
                                    {% else %}
                                        <b>du {{ event.dateBegin|date('d/m/Y') }} au {{ event.dateEnd|date('d/m/Y') }}</b>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="badge bg-info-subtle text-black">Vendu : {{ event.QuantitySales }} places</span>
                            </div>

                            {% if event.description is not empty %}
                                <div class="col-12 mt-3 position-relative mt-3 p-3 border overflow-auto" style="height: 150px;">
                                    {{ event.description }}
                                </div>
                            {% endif %}
                        </div>
                        {% if event.doc is not null %}
                            <div class="card-footer pt-1">
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0 mt-0">
                                    <li class="position-relative">
                                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                                            <a href="/files/products/{{ event.doc }}" target="_blank" class="d-inline-flex align-items-center justify-content-center btn btn-danger rounded-circle btn-lg round-48">
                                                <i class="fa-solid fa-download" style="width: 20px; height: 25px;"></i>
                                            </a>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if project.productPackage is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-stretch">
                <div class="card card-body py-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-4 mb-md-0 card-title">Packages VIP</h2>
                                <div class="col-md-6">
                                    <input type="text" value="" name="search" class="form-control col-md-6" placeholder="Recherche" data-model="queryPackage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for package in this.packages %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-3">
                    <div class="card w-100">
                        <div class="card-body {% if package.quantityMax is empty  or package.QuantitySales != package.quantityMax %}bg-success-subtle{% endif %}">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ package.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-info-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Clone">
                                                <i class="fa fa-clone"></i>
                                            </button>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                                .setAction('new')
                                                .set('entityFqcn', 'App\\Entity\\Sales')
                                                .set('productId', package.id)
                                                .set('projectId', project.id)
                                                .setEntityId(null)

                                            }}"  class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Créer une vente">
                                                <i class="fa fa-euro-sign"></i>
                                            </a>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\ProductPackageVipCrudController')
                                                .setAction('edit')
                                                .setEntityId(package.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-pen-to-square"></i>
                                            </a>
                                            <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                                    data-live-action-param="delete" data-live-id-param="{{ package.id }}" data-bs-toggle="tooltip" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    {% if package.dateBegin == package.dateEnd %}
                                        <b>Date: {{ package.date|date('d/m/Y') }}</b>
                                        <span class="badge bg-primary-subtle text-primary">Prix de vente : {{ package.ca|number_format(2, ',', '.') }} €</span>
                                    {% else %}
                                        <b>du {{ package.dateBegin|date('d/m/Y') }} au {{ package.dateEnd|date('d/m/Y') }}</b>
                                        <span class="badge bg-primary-subtle text-primary">Prix de vente : {{ package.ca|number_format(2, ',', '.') }} €</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if package.quantityMax is not empty %}
                                <div class="col-12">
                                    <span class="badge bg-warning-subtle text-black">Vendu : {{ package.QuantitySales }} / {{ package.quantityMax }} places</span>
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <span class="badge bg-info-subtle text-black">Vendu : {{ package.QuantitySales }} places</span>
                                </div>
                            {% endif %}

                            {% if package.description is not empty %}
                                <div class="col-12 mt-3 position-relative mt-3 p-3 border overflow-auto" style="height: 150px;">
                                    {{ package.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                        {% if package.doc is not null %}
                            <div class="card-footer pt-1">
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0 mt-0">
                                    <li class="position-relative">
                                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                                            <a href="/files/products/{{ package.doc }}" target="_blank" class="d-inline-flex align-items-center justify-content-center btn btn-danger rounded-circle btn-lg round-48">
                                                <i class="fa-solid fa-download" style="width: 20px; height: 25px;"></i>
                                            </a>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if project.productSponsoring is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-stretch">
                <div class="card card-body py-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-4 mb-md-0 card-title">Sponsoring</h2>
                                <div class="col-md-6">
                                    <input type="text" value="" name="search" class="form-control col-md-6" placeholder="Recherche" data-model="querySponsoring">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for sponsoring in this.sponsorings %}
                <div class="col-md-4 d-flex align-items-stretch mt-3">
                    <div class="card w-100">
                        <div class="card-body {% if sponsoring.quantityMax is empty  or sponsoring.QuantitySales != sponsoring.quantityMax %}bg-success-subtle{% endif %}">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ sponsoring.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-info-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Clone">
                                                <i class="fa fa-clone"></i>
                                            </button>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                                .setAction('new')
                                                .set('entityFqcn', 'App\\Entity\\Sales')
                                                .set('productId', sponsoring.id)
                                                .set('projectId', project.id)
                                                .setEntityId(null)

                                            }}"  class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Créer une vente">
                                                <i class="fa fa-euro-sign"></i>
                                            </a>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\ProductSponsoringCrudController')
                                                .setAction('edit')
                                                .setEntityId(sponsoring.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-pen-to-square"></i>
                                            </a>
                                            <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                                    data-live-action-param="delete" data-live-id-param="{{ sponsoring.id }}" data-bs-toggle="tooltip" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    {% if sponsoring.dateBegin == sponsoring.dateEnd %}
                                        <b>Date: {{ sponsoring.date|date('d/m/Y') }}</b>
                                        <span class="badge bg-primary-subtle text-primary">Prix de vente : {{ sponsoring.ca|number_format(2, ',', '.') }} €</span>
                                    {% else %}
                                        <b>du {{ sponsoring.dateBegin|date('d/m/Y') }} au {{ sponsoring.dateEnd|date('d/m/Y') }}</b>
                                        <span class="badge bg-primary-subtle text-primary">Prix de vente : {{ sponsoring.ca|number_format(2, ',', '.') }} €</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if sponsoring.quantityMax is not empty %}
                                <div class="col-12 mt-1">
                                    <span class="badge bg-warning-subtle text-black">
                                    Vendu : {{ sponsoring.QuantitySales }} / {{ sponsoring.quantityMax }} places
                                    </span>
                                </div>
                            {% else %}
                                <div class="col-12 mt-1">
                                    <span class="badge bg-info-subtle text-black">
                                    Vendu : {{ sponsoring.QuantitySales }} places
                                    </span>
                                </div>
                            {% endif %}

                            {% if sponsoring.description is not empty %}
                                <div class="col-12 mt-3 position-relative mt-3 p-3 border overflow-auto" style="height: 300px;">
                                    {{ sponsoring.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                        {% if sponsoring.doc is not null %}
                            <div class="card-footer pt-1">
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0 mt-0">
                                    <li class="position-relative">
                                        <a href="/files/products/{{ sponsoring.doc }}" target="_blank" class="d-inline-flex align-items-center justify-content-center btn btn-danger rounded-circle btn-lg round-48">
                                            <i class="fa-solid fa-download" style="width: 20px; height: 25px;"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if project.productDivers is not empty %}
        <div class="row mt-3">
            <div class="col-md-12 d-flex align-items-stretch">
                <div class="card card-body py-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-4 mb-md-0 card-title">Divers</h2>
                                <div class="col-md-6">
                                    <input type="text" value="" name="search" class="form-control col-md-6" placeholder="Recherche" data-model="queryDivers">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for divers in this.divers %}
                <div class="col-md-4 d-flex align-items-stretch mt-3">
                    <div class="card w-100">
                        <div class="card-body bg-success-subtle">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ divers.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-info-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Clone">
                                                <i class="fa fa-clone"></i>
                                            </button>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                                .setAction('new')
                                                .set('entityFqcn', 'App\\Entity\\Sales')
                                                .set('productId', divers.id)
                                                .set('projectId', project.id)
                                                .setEntityId(null)

                                            }}" class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Créer une vente">
                                                <i class="fa fa-euro-sign"></i>
                                            </a>
                                            <a href="{{ ea_url()
                                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                .setController('App\\Controller\\Admin\\ProductDiversCrudController')
                                                .setAction('edit')
                                                .setEntityId(divers.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-pen-to-square"></i>
                                            </a>
                                            <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                                    data-live-action-param="delete" data-live-id-param="{{ divers.id }}" data-bs-toggle="tooltip" title="Supprimer">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    {% if divers.dateBegin == divers.dateEnd %}
                                        <b>Date: {{ divers.date|date('d/m/Y') }}</b>
                                    {% else %}
                                        <b>du {{ divers.dateBegin|date('d/m/Y') }} au {{ divers.dateEnd|date('d/m/Y') }}</b>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12">
                                <span class="badge bg-info-subtle text-black">Vendu : {{ divers.QuantitySales }} places</span>
                            </div>

                            {% if divers.description is not empty %}
                                <div class="col-12 mt-3 position-relative mt-3 p-3 border overflow-auto" style="height: 300px;">
                                    {{ divers.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                        {% if divers.doc is not null %}
                            <div class="card-footer pt-1">
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0 mt-0">
                                    <li class="position-relative">
                                        <a href="/files/products/{{ divers.doc }}" target="_blank" class="d-inline-flex align-items-center justify-content-center btn btn-danger rounded-circle btn-lg round-48">
                                            <i class="fa-solid fa-download" style="width: 20px; height: 25px;"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="modal hide" id="modalTodo" data-bs-backdrop="static" aria-hidden="true"  {{ stimulus_controller('bootstrap-modal') }}>
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center bg-primary text-white">
                    <h4 class="modal-title  text-white" id="myLargeModalLabel">
                        Supprimer le produit
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Êtes-vous sûr de vouloir supprimer <b></b> ?
                    </p>
                    <button type="submit" name="submitbtn" class="btn btn-danger mt-3" data-action="live#action" data-live-action-param="deleteConfirm">
                        {{ 'Supprimer'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>