{% extends 'app/templates/base.html.twig' %}

{% block title %}Détails du projet{% endblock %}

{% block breadcrumb %}
    <div class="row" style="margin-top: 50px;">
        <div class="card card-body py-3">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-sm-flex align-items-center justify-space-between">
                        <h4 class="mb-4 mb-md-0 card-title">Détails du projet</h4>
                        <nav aria-label="breadcrumb" class="ms-auto">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item d-flex align-items-center">
                                    <a class="text-muted text-decoration-none d-flex" href="{{ path('app') }}">
                                        <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                                    </a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a class="text-muted text-decoration-none d-flex" href="{{ ea_url()
                                        .setDashboard('App\\Controller\\Admin\\DashboardController')
                                        .setController('App\\Controller\\Admin\\ProjectCrudController')
                                        .setAction('index') }}">
                                        <iconify-icon icon="fa6-solid:diagram-project" class="fs-6 me-3"></iconify-icon> Projets
                                    </a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                        {{project.name}}
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                      <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                                        Détails du projet
                                      </span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="fixed-top" style="margin-top: 140px; z-index: 10">
    <div class="row">

        <div class="card card-body py-3">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h3 class="mb-4 mb-md-0 card-title">{{project.name}}</h3>
                        <div>
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <button type="button" class="btn bg-primary-subtle text-primary ">
                                    Créer un event
                                </button>
                                <button type="button" class="btn bg-primary-subtle text-primary ">
                                    Créer un package VIP
                                </button>
                                <button type="button" class="btn bg-primary-subtle text-primary ">
                                    Créer un sponsoring
                                </button>
                                <button type="button" class="btn bg-primary-subtle text-primary ">
                                    Créer un divers
                                </button>
                            </div>
                            <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                <button type="button" class="btn bg-danger-subtle text-danger ">
                                    Archiver le projet
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% if project.productSponsoring is not empty %}
        <div class="row">
            <div class="col-md-12 d-flex align-items-stretch">
                <div class="card card-body py-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h2 class="mb-4 mb-md-0 card-title">Packages VIP</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for sponsoring in project.productSponsoring|sort((a, b) => a.dateBegin|date('Ymd') <= b.dateBegin|date('Ymd')) %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ sponsoring.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-warning-subtle text-black py-1 px-3">
                                                <iconify-icon icon="foundation:burst-sale" width="30" height="30"></iconify-icon>
                                            </button>
                                            <button type="button" class="btn bg-primary-subtle text-primary  py-1 px-3 ">
                                                <iconify-icon icon="material-symbols:edit" width="20" height="20"></iconify-icon>
                                            </button>
                                            <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 ">
                                                <iconify-icon icon="material-symbols:delete" width="20" height="20"></iconify-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <b>Date: {{ sponsoring.dateBegin|date('d/m/Y') }}</b>
                                    <span class="badge bg-primary-subtle text-primary">{{ sponsoring.ca|number_format(2, ',', '.') }} €</span>
                                </div>
                            </div>
                            {% if sponsoring.quantityMax is not empty %}
                                <div class="col-12 mt-1">
                                    <span class="badge bg-warning-subtle text-black">
                                    Vendu : {{ sponsoring.QuantitySales }} / {{ sponsoring.quantityMax }} places
                                    </span>
                                </div>
                            {% else %}
                                <div class="col-12 mt-1">
                                    <span class="badge bg-info-subtle text-black">
                                    Vendu : {{ sponsoring.QuantitySales }} places
                                    </span>
                                </div>
                            {% endif %}
                            <div class="col-12 mt-3">
                                {{ sponsoring.description|raw }}
                            </div>
                        </div>
                        <div class="card-footer pt-1">
                            {% if sponsoring.doc is not null %}
                                <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0 mt-0">
                                    <li class="position-relative">
                                        <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold" href="javascript:void(0)">
                                            <a href="/files/products/{{ sponsoring.doc }}" target="_blank" class="btn btn-primary p-1">
                                                <iconify-icon icon="mdi:file-download-outline" width="30" height="30" class="p-0"></iconify-icon>
                                            </a>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if project.productPackage is not empty %}
        <div class="row">
        <div class="col-md-12 d-flex align-items-stretch">
            <div class="card card-body py-3">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h2 class="mb-4 mb-md-0 card-title">Packages VIP</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% for package in project.productPackage|sort((a, b) => a.date|date('Ymd') <= b.date|date('Ymd')) %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h3 class="mb-4 mb-md-0 card-title">{{ package.name }}</h3>
                                    <div>
                                        <div class="btn-group mb-2" role="group" aria-label="Basic example">
                                            <button type="button" class="btn bg-primary-subtle text-primary ">
                                                <iconify-icon icon="material-symbols:edit"></iconify-icon>
                                            </button>
                                            <button type="button" class="btn bg-danger-subtle text-danger ">
                                                <iconify-icon icon="material-symbols:delete"></iconify-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <b>Date: {{ package.date|date('d/m/Y') }}</b>
                                    <span class="badge bg-primary-subtle text-primary">{{ package.ca|number_format(2, ',', '.') }} €</span>
                                </div>
                            </div>
                            {% if package.quantityMax is not empty %}
                            <div class="col-12">
                                Vendu : {{ package.QuantitySales }} / {{ package.quantityMax }} places
                            </div>
                            {% endif %}
                            <div class="col-12 mt-3">
                                {{ package.description|raw }}
                            </div>
                            {% if package.doc is not null %}
                                <div class="col-12 mt-3">
                                    <a href="/files/products/{{ product.doc }}" target="_blank">Download</a>
                                </div>>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}



{% endblock %}