<div {{ attributes }}>

    <div class="row">
        <div locale="fr">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 order-sm-2 d-flex">
                            <a href="{{ ea_url()
                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                .setController('App\\Controller\\Admin\\CompanyContactCrudController')
                                .set('entityFqcn', 'App\\Entity\\CompanyContact')
                                .setAction('export')
                            }}" class="btn btn-outline-primary mb-4 mt-sm-auto ms-auto"><i class="action-icon fa fa-file-export"></i> Exporter les contacts</a>
                            <a href="{{ ea_url()
                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                .setController('App\\Controller\\Admin\\CompanyContactCrudController')
                                .set('entityFqcn', 'App\\Entity\\CompanyContact')
                                .setAction('import')
                            }}" class="btn btn-outline-primary mb-4 mt-sm-auto ms-2"><i class="action-icon fa fa-file-import"></i> Importer des contacts</a>
                            <a href="{{ path('contact_create') }}" class="btn btn-primary mb-4 mt-sm-auto ms-2">Créer un contact</a>
                        </div>
                        <div class="col-sm-6 order-sm-1">
                            <label for="project_search_filter_name" class="form-label">Rechercher</label>
                            <input type="text" id="project_search_filter_name" name="project_search_filter[name]" data-model="query" class="form-control">
                        </div>
                        <div class="col-sm-6 order-sm-3 mt-3">
                            <label for="project_search_filter_commercial" class="form-label">Commercial</label>
                            <select type="text" id="project_search_filter_commercial" name="project_search_filter[commercial]" data-model="addedBy" class="form-control">
                                <option value="0" selected>Tous</option>
                                {% for commercial in this.commercials %}
                                    <option value="{{ commercial.id }}">{{ commercial.fullName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-body py-3">
            <table class="table table-striped" data-loading="addClass(opacity-50)">
                <thead>
                <tr>
                    <th>Société</th>
                    <th>Nom</th>
                    <th>Langue</th>
                    <th>Email</th>
                    <th>Tél </th>
                    <th>GSM</th>
                    <th>Sales</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in this.contacts %}
                    <tr>
                        <td>{% if contact.company %}{{ contact.company.name }}{% endif %}</td>
                        <td><a href="{{ path('contact_details', {contact: contact.id}) }}">{{ contact.fullName }}</a></td>
                        <td>{{ contact.lang }}</td>
                        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                        <td><a href="tel:{{ contact.phone|replace({' ': '', ':': '', '/': '', '(': '', ')': ''}) }}">{{ contact.phone }}</a></td>
                        <td><a href="tel:{{ contact.gsm|replace({' ': '', ':': '', '/': '', '(': '', ')': ''}) }}">{{ contact.gsm }}</a></td>
                        <td>{{ contact.addedBy }}</td>
                        <td>
                            <ul class="list list-inline mb-0">
                                <li class="list-inline-item me-0">
                                    <a href="{{ path('contact_details', {contact: contact.id}) }}" class="p-2" title="Détails">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{ path('contact_edit', {contact: contact.id}) }}" class="p-2" title="Modifier">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </li>
                                {#<li class="list-inline-item">
                                    <a href="#" data-action="live#action" data-live-action-param="delete" data-live-id-param="{{ contact.id }}" class="p-2" title="Supprimer">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </li>#}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Société</th>
                    <th>Nom</th>
                    <th>Langue</th>
                    <th>Email</th>
                    <th>Tél </th>
                    <th>GSM</th>
                    <th>Sales</th>
                    <th></th>
                </tr>
                </tfoot>

            </table>
            <div class="navigation">
                {{ knp_pagination_render(this.contacts) }}
            </div>
        </div>
    </div>
        
    <div id="danger-header-modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="danger-header-modalLabel" aria-modal="true" role="dialog" {{ stimulus_controller('bootstrap-modal') }}>
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-danger text-white">
                    <h4 class="modal-title text-white" id="danger-header-modalLabel">
                        Cette action est irréversible !
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" data-action="live#action" data-live-action-param="abordDelete"></button>
                </div>
                {% if this.toDelete %}
                <div class="modal-body">
                    <h5 class="mt-0">{{ this.toDelete.fullname }}</h5>
                    <p>
                        Désirez-vous vraiment supprimer cet élément ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-action="live#action" data-live-action-param="abordDelete">
                        Non
                    </button>
                    <button type="button" class="btn bg-danger-subtle text-danger"  data-action="live#action" data-live-action-param="confirmDelete" data-live-id-param="{{ this.toDelete.id }}">
                        Oui
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>