<div {{ attributes }} class="row">
 <div class="col-12 {# fixed-top bg-white pb-0" style="margin-top: 140px; z-index: 1 #}">
     <div class="row">
         <div class="col-3">
             <div class="card bg-success-subtle overflow-hidden shadow-none">
                 <div class="card-body py-3">
                     <div class="row justify-content-between align-items-center">
                         <div class="col-sm-9">
                             <p class="mb-0 fw-semibold">Total vendu</p>
                             <p class="h5 text-success">{{ this.TotalSales|number_format(2, ',', '.') }}€</p>
                         </div>
                         <div class="col-sm-3">
                             <iconify-icon icon="tabler:sum" width="50" height="50"></iconify-icon>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-3">
             <div class="card bg-warning-subtle overflow-hidden shadow-none">
                 <div class="card-body py-3">
                     <div class="row justify-content-between align-items-center">
                         <div class="col-sm-9">
                             <p class="mb-0 fw-semibold">Total Commerciaux</p>
                             <p class="h5 text-warning">{{ this.TotalSalesCom|number_format(2, ',', '.') }}€</p>
                         </div>
                         <div class="col-sm-3">
                             <iconify-icon icon="fa6-solid:hand-holding-dollar" width="50" height="50"></iconify-icon>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-3">
             <div class="card bg-info-subtle overflow-hidden shadow-none">
                 <div class="card-body py-3">
                     <div class="row justify-content-between align-items-center">
                         <div class="col-sm-9">
                             <p class="mb-0 fw-semibold">Total The Friends</p>
                             <p class="h5 text-info">{{ this.TotalSalesVr|number_format(2, ',', '.') }}€</p>
                         </div>
                         <div class="col-sm-3">
                             <iconify-icon icon="iconoir:home-sale" width="50" height="50"></iconify-icon>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-3">
             <div class="card bg-danger-subtle overflow-hidden shadow-none">
                 <div class="card-body py-3">
                     <div class="row justify-content-between align-items-center">
                         <div class="col-sm-9">
                             <p class="mb-0 fw-semibold">Marge The Friends Net</p>
                             <p class="h5 text-danger">{{ (this.TotalSalesVr - this.TotalSalesCom)|number_format(2, ',', '.') }}€</p>
                         </div>
                         <div class="col-sm-3">
                             <iconify-icon icon="ri:money-euro-box-line" width="50" height="50"></iconify-icon>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </div>

    <div class="col-12">
        <div class="card card-body py-3">
            {{ form_start(form, {'attr': {'data-model': '*'}}) }}
            <div class="d-flex justify-content-between bd-highlight mb-3 p-3 border">
                <div class="p-1">
                    <div>
                        {{ form_label(form.from) }} {{ form_widget(form.from) }}

                    </div>
                    <div class="mt-2">
                        {{ form_label(form.to) }} {{ form_widget(form.to) }}
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        {{ form_label(form.project) }} {{ form_widget(form.project) }}
                    </div>
                    <div class="mt-2">
                        {% if form.product is defined %}
                            {{ form_label(form.product) }} {{ form_widget(form.product) }}
                        {% endif %}
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        {{ form_label(form.company) }} {{ form_widget(form.company) }}
                    </div>
                    <div class="mt-2">
                        {% if form.contact is defined %}
                            {{ form_label(form.contact) }} {{ form_widget(form.contact) }}
                        {% endif %}
                    </div>
                </div>
                <div class="p-1">
                    <div>
                        {{ form_label(form.user) }} {{ form_widget(form.user) }}
                    </div>
                    <div class="mt-2">
                        {{ form_label(form.archive) }} {{ form_widget(form.archive) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <div class="text-end">
                <button class="btn btn-danger" data-action="live#action" data-live-action-param="initForm">Réinistialser le formulaire</button>
                <button class="btn btn-primary" data-action="live#action" data-live-action-param="export">Exporter les données</button>
            </div>
            <table class="table table-striped" {{ stimulus_controller('datatable-simple') }}>
                <thead>
                <tr>
                    <th>Date de la vente</th>
                    <th>Projet<br><i>Produit</i></th>
                    <th>Client<br><i>Société</i></th>
                    <th>Vendeur</th>
                    <th>Prix unitaire</th>
                    <th>Prix de vente</th>
                    <th>Com Sales</th>
                    <th>Com TF</th>
                </tr>
                </thead>
                <tbody>
                    {% for sale in this.sales %}
                        <tr>
                            <td><h6 class="mb-0">{{ sale.date|date('d/m/Y') }}</h6></td>
                            <td>
                                {% if sale.product is not empty %}
                                    <h6 class="mb-0">{{ sale.product.name }}</h6>
                                    <i>{{ sale.product.project.name }}</i>
                                {% else %}
                                    {{ sale.name }} - PO {{ sale.po }}
                                {% endif %}
                            </td>
                            <td>
                                <h6 class="mb-0">{{ sale.contact.fullname }}</h6>
                                <i>{{ sale.contact.company.name }}</i>
                            </td>
                            <td><h6 class="mb-0">{{ sale.user.fullname }}</h6></td>
                            <td><h6 class="mb-0">{{ sale.price|number_format(2, ',', '') }}€</h6><i>Quantité : {{ sale.quantity }}</i></td>
                            <td><h6 class="mb-0">{{ (sale.price * sale.quantity)|number_format(2, ',', '') }}€</h6></td>
                            <td>
                                <h6 class="mb-0">{{ (sale.percentCom / 100 * sale.price * sale.quantity)|number_format(2, ',', '') }}€</h6>
                                <i>{{ sale.percentCom }}%</i>
                            </td>
                            <td>
                                <h6 class="mb-0">{{ (sale.percentVr / 100 * sale.price * sale.quantity)|number_format(2, ',', '') }}€</h6>
                                <i>{{ sale.percentVr }}%</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Date de la vente</th>
                    <th>Projet<br><i>Produit</i></th>
                    <th>Client<br><i>Société</i></th>
                    <th>Vendeur</th>
                    <th>Prix unitaire</th>
                    <th>Prix de vente</th>
                    <th>Com Sales</th>
                    <th>Com The Friends</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>