{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block login %}
    <div class="row g-0 app-auth-wrapper">
        <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
            <div class="d-flex flex-column align-content-end">
                <div class="app-auth-body mx-auto">
                    <div class="app-auth-branding mb-4">
                        <div class="app-logo">
                            <img class="logo-icon" src="{{ asset('build/portal/images/app-logo.png') }}" alt="logo-icon">
                        </div>
                    </div>
                    <div class="mt-2 mb-4">{{ component('locale_choice') }}</div>
                    <h2 class="auth-heading text-center mb-4">{{ 'reset_password.forgotten_password'|trans }}</h2>

                    <div class="auth-intro mb-4 text-center">
                        <p>{{ 'reset_password.check_email.intro'|trans }}</p>
                        <p>
                            {{ 'reset_password.check_email.expires_message'|trans({
                                '%expires_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
                            }) }}
                        </p>
                        <p>
                            {{ 'reset_password.check_email.not_received'|trans({
                                '%app_forgot_password_request_route%': path('app_forgot_password_request')
                            })|sanitize }}
                        </p>
                    </div>

                    <div class="auth-form-container text-left">
                        <div class="auth-option text-center pt-5"><a class="app-link" href="{{ path('app_login') }}">{{ 'login.form.submit'|trans }}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
            <div class="auth-background-holder">
            </div>
            <div class="auth-background-mask"></div>
        </div>
    </div>
{% endblock %}