{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Mes ventes{% endblock %}
{% block page_title %}Verhulst & Friends - ERP - {{ block('content_title') }}{% endblock %}

{% block page_actions %}
    {% set url = ea_url()
        .setAction('new') %}
    <div class="global-actions">
        <a class=" action-new btn btn-primary" href="{{ url }}" data-action-name="new">
            <i class="action-icon fa fa-plus-square"></i> <span class="action-label">Créer une vente</span>
        </a>
    </div>
{% endblock %}


{% block main %}

    <nav>
        <div class="nav nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
            <button class="flex-sm-fill text-sm-center nav-link active" id="nav-event-tab" data-bs-toggle="tab" data-bs-target="#nav-event" type="button" role="tab" aria-controls="nav-event" aria-selected="true">Field Events</button>
            <button class="flex-sm-fill text-sm-center nav-link" id="nav-sponsoring-tab" data-bs-toggle="tab" data-bs-target="#nav-sponsoring" type="button" role="tab" aria-controls="nav-sponsoring" aria-selected="false">Sponsoring</button>
            <button class="flex-sm-fill text-sm-center nav-link" id="nav-package-tab" data-bs-toggle="tab" data-bs-target="#nav-package" type="button" role="tab" aria-controls="nav-package" aria-selected="false">Package VIP</button>
            <button class="flex-sm-fill text-sm-center nav-link" id="nav-divers-tab" data-bs-toggle="tab" data-bs-target="#nav-divers" type="button" role="tab" aria-controls="nav-divers" aria-selected="false">Divers</button>
        </div>
    </nav>


    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active mt-3" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
        <h3 class="text-uppercase text-center font-weight-bolder verhulst">Field Events</h3>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Projet</th>
                <th scope="col">Produit</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">CA</th>
                <th scope="col" class="text-right">Réduc</th>
                <th scope="col" class="text-right">Marge</th>
                <th scope="col" class="text-center">%S</th>
                <th scope="col" class="text-right">€S</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% set total_price = 0 %}
            {% set total_marge = 0 %}
            {% set total_euroCom = 0 %}

            {% for sale in user.sales %}
                {% if get_class(sale.product) == 'ProductEvent' %}
                    {% set total_price = total_price + sale.price %}
                    {% set total_marge = total_marge + sale.marge %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    <tr>
                        <th scope="row">
                            {{ sale.contact.company.name }} ({{ sale.contact.firstname }} {{ sale.contact.lastname }})
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}
                            {% if sale.product.dateBegin is not null %}
                                {% if sale.product.dateBegin|date('d/m/y') == sale.product.dateEnd|date('d/m/y') %}
                                    ({{ sale.product.dateBegin|date('d/m/y') }})
                                {% else %}
                                    (Du {{ sale.product.dateBegin|date('d/m/y') }} Au {{ sale.product.dateEnd|date('d/m/y') }})
                                {% endif %}
                            {% endif %}
                        </th>
                        <td>{{ sale.date|date('d/m/y') }}</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ sale.marge|number_format(2, ',', '') }}€</td>
                        <td class="text-center">{{ sale.percentCom }}%</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', '') }}€</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="table-primary">
                <th scope="row" colspan="4">
                    Totaux
                </th>
                <th class="text-right">{{ total_price|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_marge|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_euroCom|number_format(2, ',', '') }}€</th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade mt-3" id="nav-sponsoring" role="tabpanel" aria-labelledby="nav-sponsoring-tab">
        <h3 class="text-uppercase text-center font-weight-bolder verhulst">Sponsoring</h3>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Projet</th>
                <th scope="col">Produit</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">CA</th>
                <th scope="col" class="text-right">Q</th>
                <th scope="col" class="text-right">CA Tot</th>
                <th scope="col" class="text-right">Réduc</th>
                <th scope="col" class="text-right">Marge</th>
                <th scope="col" class="text-center">%S</th>
                <th scope="col" class="text-right">€S</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% set total_price = 0 %}
            {% set total_euroCom = 0 %}
            {% set total_marge = 0 %}

            {% for sale in user.sales %}
                {% if get_class(sale.product) == 'ProductSponsoring' %}
                    {% set total_price = total_price + sale.totalPrice %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    {% set total_marge = total_marge + sale.marge %}
                    <tr>
                        <th scope="row">
                            {{ sale.contact.company.name }} ({{ sale.contact.firstname }} {{ sale.contact.lastname }})
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}</th>
                        <td>{{ sale.date|date('d/m/y') }}</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ sale.quantity }}</td>
                        <td class="text-right">{{ (sale.totalPrice)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.marge)|number_format(2, ',', '') }}€</td>
                        <td class="text-center">{{ sale.percentCom }}%</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', '') }}€</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="table-primary">
                <th scope="row" colspan="4">
                    Totaux
                </th>
                <th></th>
                <th></th>
                <th class="text-right">{{ total_price|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_marge|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_euroCom|number_format(2, ',', '') }}€</th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade mt-3" id="nav-package" role="tabpanel" aria-labelledby="nav-package-tab">
        <h3 class="text-uppercase text-center font-weight-bolder verhulst">Package VIP</h3>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Projet</th>
                <th scope="col">Produit</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">CA</th>
                <th scope="col" class="text-right">Q</th>
                <th scope="col" class="text-right">CA Tot</th>
                <th scope="col" class="text-right">Réduc</th>
                <th scope="col" class="text-right">Marge</th>
                <th scope="col" class="text-center">%S</th>
                <th scope="col" class="text-right">€S</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total_price = 0 %}
            {% set total_euroCom = 0 %}
            {% set total_marge = 0 %}

            {% for sale in user.sales %}
                {% if get_class(sale.product) == 'ProductPackageVip' %}
                    {% set total_price = total_price + sale.totalPrice %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    {% set total_marge = total_marge + sale.marge %}
                    <tr>
                        <th scope="row">
                            {{ sale.contact.company.name }} ({{ sale.contact.firstname }} {{ sale.contact.lastname }})
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}</th>
                        <td>{{ sale.date|date('d/m/y') }}</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.quantity) }}</td>
                        <td class="text-right">{{ (sale.totalPrice)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.marge)|number_format(2, ',', '') }}€</td>
                        <td class="text-center">{{ sale.percentCom }}%</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', '') }}€</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="table-primary">
                <th scope="row" colspan="4">
                    Totaux
                </th>
                <th></th>
                <th></th>
                <th class="text-right">{{ total_price|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_marge|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_euroCom|number_format(2, ',', '') }}€</th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade mt-3" id="nav-divers" role="tabpanel" aria-labelledby="nav-divers-tab">
        <h3 class="text-uppercase text-center font-weight-bolder verhulst">Divers</h3>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th scope="col">Société</th>
                <th scope="col">Projet</th>
                <th scope="col">Produit</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-right">CA</th>
                <th scope="col" class="text-right">Réduc</th>
                <th scope="col" class="text-right">Marge</th>
                <th scope="col" class="text-center">%S</th>
                <th scope="col" class="text-right">€S</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total_price = 0 %}
            {% set total_euroCom = 0 %}
            {% set total_marge = 0 %}

            {% for sale in user.sales %}
                {% if get_class(sale.product) == 'ProductDivers' %}
                    {% set total_price = total_price + sale.price %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    {% set total_marge = total_marge + sale.marge %}
                    <tr>
                        <th scope="row">
                            {{ sale.contact.company.name }} ({{ sale.contact.firstname }} {{ sale.contact.lastname }})
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}</th>
                        <td>{{ sale.date|date('d/m/y') }}</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', '') }}€</td>
                        <td class="text-right">{{ (sale.marge)|number_format(2, ',', '') }}€</td>
                        <td class="text-center">{{ sale.percentCom }}%</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', '') }}€</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="table-primary">
                <th scope="row" colspan="4">
                    Totaux
                </th>
                <th class="text-right">{{ total_price|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_marge|number_format(2, ',', '') }}€</th>
                <th></th>
                <th class="text-right">{{ total_euroCom|number_format(2, ',', '') }}€</th>
                <th></th>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}