{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Création d'une vente{% endblock %}
{% block page_title %}Verhulst & Friends - ERP - {{ block('content_title') }}{% endblock %}

{% block page_actions %}
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\ProductEventCrudController')
        .setAction('new')
        .set('referrer', context.request.requestUri)
    %}
    {% set url2 = ea_url()
        .setController('App\\Controller\\Admin\\ProductDiversCrudController')
        .setAction('new')
        .set('referrer', context.request.requestUri)
    %}
    <div class="global-actions">
        <a class=" action-new btn btn-primary" href="{{ url }}" data-action-name="new">
            <i class="action-icon fa fa-plus-square"></i> <span class="action-label">Créer un event</span>
        </a>
        <a class=" action-new btn btn-primary" href="{{ url2 }}" data-action-name="new">
            <i class="action-icon fa fa-plus-square"></i> <span class="action-label">Créer un divers</span>
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-8">
            <h4>Sélectionnez le produit</h4>

            {% if  project.productPackage|length > 0 %}
            <br>
                <h4>Package VIP</h4>
                <table class="table w-100">
                    <tr>
                        <th class="col-1"></th>
                        <th class="col-7">Produit</th>
                        <th class="col-2">Quantité vendues</th>
                        <th class="col-1">Date</th>
                        <th class="col-1">Prix</th>
                    </tr>
                    {% for product in project.productPackage %}
                        {% set url = ea_url()
                            .setAction('createSale')
                            .set('contactId', contact.id)
                            .set('projectId', project.id)
                            .set('productId', product.id)%}
                        <tr>
                            <td class="p-2"><a href="{{ url }}" style="color: #0a0a0a"><i class="fa-solid fa-hand-point-right"></i></a></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantitySales }}{% if product.quantityMax is not null %}/{{ product.quantityMax }}{% endif %}</td>
                            <td>{{ product.date|date('d/m/Y') }}</td>
                            <td>{{ product.ca }}€</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
            {% endif %}
            {% if  project.productSponsoring|length > 0 %}
            <h4>Sponsoring</h4>
            <table class="table w-100">
                <tr>
                    <th class="col-1"></th>
                    <th class="col-8">Produit</th>
                    <th class="col-2">Quantité vendues</th>
                    <th class="col-1">Prix</th>
                </tr>
                {% for product in project.productSponsoring %}
                    {% set url = ea_url()
                        .setAction('createSale')
                        .set('contactId', contact.id)
                        .set('projectId', project.id)
                        .set('productId', product.id)%}
                    <tr>
                        <td class="p-2"><a href="{{ url }}" style="color: #0a0a0a"><i class="fa-solid fa-hand-point-right"></i></a></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantitySales }}{% if product.quantityMax is not null %}/{{ product.quantityMax }}{% endif %}</td>
                        <td>{{ product.ca }}€</td>
                    </tr>
                {% endfor %}
            </table>
                <br>
            {% endif %}
        </div>
        <div class="col-4">
            <div class="card text-bg-success mb-3">
                <div class="card-header">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <a class="navbar-brand"><h4 style="color: #f5f5f4">Client sélectionné</h4></a>
                            <form class="d-flex" role="search">
                                {% set url = ea_url()
                                    .setAction('new') %}
                                <a href="{{ url }}" class="btn btn-outline-success" type="submit"><i class="fa-solid fa-pen-to-square"></i></a>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>{{ contact.company.name }}</b> <br> {{ contact.firstname }} {{ contact.lastname }}
                    </p>
                </div>
            </div>
            <div class="card text-bg-success mb-3">
                <div class="card-header">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <a class="navbar-brand"><h4 style="color: #f5f5f4">Projet sélectionné</h4></a>
                            <form class="d-flex" role="search">
                                {% set url = ea_url()
                                    .setAction('listProject')
                                    .set('contactId', contact.id) %}
                                <a href="{{ url }}" class="btn btn-outline-success" type="submit"><i class="fa-solid fa-pen-to-square"></i></a>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>{{ project.name }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}