{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Création d'une vente{% endblock %}


{% block page_actions %}
    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\ProductEventCrudController')
        .setAction('new')
        .set('referrer', context.request.requestUri)

    %}
    {% set url2 = ea_url()
        .setController('App\\Controller\\Admin\\ProductDiversCrudController')
        .setAction('new')
        .set('referrer', context.request.requestUri)

    %}
    <div class="global-actions">
        <a class=" action-new btn btn-primary" href="{{ url }}" data-action-name="new">
            <i class="action-icon fa fa-plus-square"></i> <span class="action-label">Créer un event</span>
        </a>
        <a class=" action-new btn btn-primary" href="{{ url2 }}" data-action-name="new">
            <i class="action-icon fa fa-plus-square"></i> <span class="action-label">Créer un divers</span>
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="alert alert-success mb-4">
    Vous avez sélectionné le client : <b>{{ contact.company.name }} {{ contact.firstname }} {{ contact.lastname }}</b>
    </div>

<h3>Sélectionnez le Produit</h3>
{% set url = ea_url()
    .setAction('searchProduct') %}

<input type="text" name="search" hx-get="{{ url }}" hx-trigger="keyup changed delay:500ms" hx-target="#search-results" placeholder="Search..." class="form-control">
<div id="search-results"></div>

{% endblock %}