<div {{ attributes }}>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class = "col-6" >
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                </div>
                <div class = "col-2" >
                    {{ form_label(form.from) }}
                    {{ form_widget(form.from) }}
                </div>
                <div class = "col-2" >
                    {{ form_label(form.to) }}
                    {{ form_widget(form.to) }}
                </div>
                <div class = "col-1" >
                    {{ form_label(form.archived) }}
                    {{ form_widget(form.archived) }}
                </div>
                <div class = "col-1 text-end" >
                    <a href="{{ path('project_index') }}" class="btn btn-primary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="text-end mb-3">
                <a href="{{ path('project_new') }}" class="btn btn-primary">Créer un nouveau projet</a>
            </div>
            <table class="table" data-loading="addClass(opacity-50)">
                <tbody>
                {% for project in this.projects %}
                    <tr class="table-primary">
                        <td class="col-6"><h6 class="mb-0">{{ project.name }}</h6></td>
                        <td class="col-2"><h6 class="mb-0">{{ project.dateBegin|date('d/m/Y') }}</h6></td>
                        <td class="col-2"><h6 class="mb-0">{{ project.dateEnd|date('d/m/Y') }}</h6></td>
                        <td class="col-2 text-end">
                            <div class="btn-group mb-2" role="group" aria-label="Actions">
                                {% if not project.archive %}
                                    <button type="button" class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Archiver" data-action="live#action"
                                            data-live-action-param="archive" data-live-id-param="{{ project.id }}">
                                        <i class="action-icon fa-solid fa-box-archive"></i>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Désarchiver" data-action="live#action"
                                            data-live-action-param="unarchive" data-live-id-param="{{ project.id }}">
                                        <i class="fa-solid fa-file-zipper"></i>
                                    </button>
                                {% endif %}
                                <a href="#"  class="btn bg-info-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Cloner">
                                    <i class="action-icon fa-solid fa-clone"></i>
                                </a>
                                <a href="{{ path('project_add_package',{_locale: app.locale, project: project.id}) }}" class="btn bg-success-subtle  py-1 px-3 " data-bs-toggle="tooltip" title="Créer un package VIP">
                                    <iconify-icon icon="ri:vip-fill" style="font-size: 20px"></iconify-icon>
                                </a>
                                <a href="{{ path('project_add_sponsoring',{_locale: app.locale, project: project.id}) }}" class="btn bg-success-subtle py-1 px-3 " data-bs-toggle="tooltip" title="Créer un Sponsoring">
                                    <iconify-icon icon="octicon:sponsor-tiers-16" style="font-size: 20px"></iconify-icon>
                                </a>
                                <a href="{{ path('project_details', {project: project.id})}}" class="btn bg-primary-subtle  text-primary py-1 px-3 " data-bs-toggle="tooltip" title="Voir">
                                    <i class="action-icon fa-solid fa-eye"></i>
                                </a>
                                <a href="{{ path('project_edit', {project: project.id})}}"  type="button" class="btn bg-primary-subtle  text-primary  py-1 px-3 "  data-bs-toggle="tooltip" title="Modifier">
                                    <i class="action-icon fa-solid fa-edit"></i>
                                </a>
                                <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                        data-live-action-param="deleteProject" data-live-id-param="{{ project.id }}" data-bs-toggle="modal" title="Supprimer" data-bs-target="#danger-header-modal">
                                    <i class="action-icon fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% if project.products|length > 0 %}
                    <tr>
                        <td colspan="4">
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th class="col-6">Produit</th>
                                    <th class="col-1">Date début</th>
                                    <th class="col-1">Date fin</th>
                                    <th class="col-1">Qt max</th>
                                    <th class="col-1">Qt vendue</th>
                                    <th class="col-1">Qt dispo</th>
                                    <th class="col-1"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in project.products %}
                                    <tr>
                                        <td>
                                            {% if instanceOf(product, 'App\\Entity\\ProductPackageVip') %}
                                                <a href="#" class="ms-3" data-bs-toggle="tooltip" data-bs-original-title="Package VIP">
                                                    <iconify-icon icon="ri:vip-fill" class="me-3" style="font-size: 25px"></iconify-icon>
                                                </a>
                                            {% else %}
                                                <a href="#" class="ms-3" data-bs-toggle="tooltip" data-bs-original-title="Sponsoring">
                                                    <iconify-icon icon="octicon:sponsor-tiers-16" class="me-3" style="font-size: 25px"></iconify-icon>
                                                </a>
                                            {% endif %}
                                            {{ product.name }}
                                            {% if product.description|striptags is not empty %}
                                                <a href="#" class="ms-3" data-bs-toggle="tooltip" data-bs-original-title="{{ product.description|striptags }}"><i class="fa-solid fa-eye"></i></a>
                                            {% endif %}
                                        </td>
                                        <td>{{ product.dateBegin|date('d/m/Y') }}</td>
                                        <td>{{ product.dateEnd|date('d/m/Y') }}</td>
                                        <td>{% if product.quantityMax is empty %}-{% else %}{{ product.quantityMax }}{% endif %}</td>
                                        <td>{{ product.quantitySales }}</td>
                                        <td>{% if product.quantityMax is empty %}-{% else %}{{ product.quantityAvailable }}{% endif %}</td>
                                        <td class="text-end">
                                            <div class="btn-group mb-2" role="group" aria-label="Actions">
                                                <a href="{{ ea_url()
                                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                    .setController('App\\Controller\\Admin\\SalesCrudController')
                                                    .setAction('new')
                                                    .set('entityFqcn', 'App\\Entity\\Sales')
                                                    .set('productId', product.id)
                                                    .set('projectId', project.id)
                                                    .setEntityId(null)

                                                }}"  class="btn bg-warning-subtle text-black py-1 px-3" data-bs-toggle="tooltip" title="Créer une vente">
                                                    <i class="fa fa-euro-sign"></i>
                                                </a>
                                                {% if instanceOf(product, 'App\\Entity\\ProductPackageVip') %}
                                                <a href="{{ ea_url()
                                                    .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                    .setController('App\\Controller\\Admin\\ProductPackageVipCrudController')
                                                    .setAction('edit')
                                                    .setEntityId(product.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                    <i class="fa fa-pen-to-square"></i>
                                                </a>
                                                {% else %}
                                                    <a href="{{ ea_url()
                                                        .setDashboard('App\\Controller\\Admin\\DashboardController')
                                                        .setController('App\\Controller\\Admin\\ProductSponsoringCrudController')
                                                        .setAction('edit')
                                                        .setEntityId(product.id) }}" class="btn bg-primary-subtle text-primary  py-1 px-3 " data-bs-toggle="tooltip" title="Modifier">
                                                        <i class="fa fa-pen-to-square"></i>
                                                    </a>
                                                {% endif %}
                                                <button type="button" class="btn bg-danger-subtle text-danger  py-1 px-3 " data-action="live#action"
                                                        data-live-action-param="deleteProduct" data-live-id-param="{{ product.id }}">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(this.projects) }}
            </div>
        </div>
    </div>



    <div id="danger-header-modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="danger-header-modalLabel" aria-modal="true" role="dialog" {{ stimulus_controller('bootstrap-modal') }}>
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-danger text-white">
                    <h4 class="modal-title text-white" id="danger-header-modalLabel">
                        Cette action est irréversible !
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" data-action="live#action" data-live-action-param="abordDeleteProject"></button>
                </div>
                {% if this.projectToDelete %}
                <div class="modal-body">
                    <h5 class="mt-0">{{ this.projectToDelete.name }}</h5>
                    <p>
                        Désirez-vous vraiment supprimer cet élément ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-action="live#action" data-live-action-param="abordDeleteProject">
                        Non
                    </button>
                    <button type="button" class="btn bg-danger-subtle text-danger"  data-action="live#action" data-live-action-param="confirmDeleteProject" data-live-id-param="{{ this.projectToDelete.id }}">
                        Oui
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>