{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% set referrer = ea_url()
    .setController('App\\Controller\\Admin\\CompanyCrudController')
    .setAction('detail')
    .setEntityId(entity.instance.id) %}

{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {% set company = entity.instance %}
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h4>Coordonnées</h4>
                    {{ company.vatNumber }}<br>
                    {{ company.street }}<br>
                    {{ company.pc }} {{ company.city }}<br>
                    {{ company.country }}<br>
                    <br>
                </div>
                <div class="col-6">
                    <h4>Facturation</h4>
                    {{ company.billingStreet }}<br>
                    {{ company.billingPc }} {{ company.billingCity }}<br>
                    {{ company.billingCountry }}<br>
                    <a href="mailto:{{ company.billingMail }}">{{ company.billingMail }}</a><br>

                </div>
                <div class="col-6">
                    <h4>Notes</h4>
                    <div class="accordion" id="notes">
                        {% for note in company.notes %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="notesT{{ loop.index }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#notes{{ loop.index }}" aria-expanded="true" aria-controls="notesT{{ loop.index }}">
                                    {{ note.createdDt|date('d/m/Y H:i') }} - {{ note.user.fullnameMinified }} - {{ note.companyContact.fullName }}
                                </button>
                            </h2>
                            <div id="notes{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#notes">
                                <div class="accordion-body">
                                    <div class="card mt-3 p-1">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            {{ note.createdDt|date('d/m/Y H:i') }} by {{ note.user.fullnameMinified }}
                                            {% if (note.user.id == app.user.id or is_granted('ROLE_ADMIN')) %}
                                            <div class="text-right">
                                                {% set url = ea_url()
                                                    .setController('App\\Controller\\Admin\\CompanyContactNoteCrudController')
                                                    .setAction('edit')
                                                    .setEntityId(note.id)
                                                    .setReferrer(referrer)
                                                %}

                                                <a href="{{ url }}" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></a>
                                            </div>
                                            {% endif %}

                                            <!-- Wrap with <div>...buttons...</div> if you have multiple buttons -->
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{ note.note|raw }}
                                            </p>
                                        </div>
                                        <div class="card-footer text-right">
                                            {{ note.companyContact.fullName }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <h4>To do</h4>
                    <div class="accordion" id="todos">
                        {% for todo in company.todos %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="todosT{{ loop.index }}">
                                <button class="accordion-button collapsed {% if todo.isDone %}alert alert-success{% else %}alert alert-warning{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#todos{{ loop.index }}" aria-expanded="true" aria-controls="todosT{{ loop.index }}">
                                    <i class="{% if todo.type.icon is not empty %}{{ todo.type.icon }}{% else %}fa-regular fa-circle{% endif%} me-2"></i> {{ todo.dateReminder|date('d/m/Y H:i') }} - {{ todo.user.fullnameMinified }} - {{ todo.client.fullName }}
                                </button>
                            </h2>
                            <div id="todos{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#todos">
                                <div class="accordion-body">
                                    <div class="card mt-3 p-1">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            {{ todo.dateReminder|date('d/m/Y H:i') }} by {{ todo.user.fullnameMinified }}
                                            <div class="text-right">
                                                {% if (todo.user.id == app.user.id or is_granted('ROLE_ADMIN')) and not todo.isDone %}
                                                {% set url = ea_url()
                                                    .setController('App\\Controller\\Admin\\TodoCrudController')
                                                    .setAction('edit')
                                                    .setEntityId(todo.id)
                                                    .setReferrer(referrer)
                                                %}
                                                <a href="{{ url }}" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></a>
                                                    {% set url = ea_url()
                                                        .setController('App\\Controller\\Admin\\TodoCrudController')
                                                        .setAction('done')
                                                        .setEntityId(todo.id)
                                                        .setReferrer(referrer)
                                                    %}
                                                <a href="{{ url }}" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-check"></i></a>
                                                {% endif %}
                                            </div>

                                            <!-- Wrap with <div>...buttons...</div> if you have multiple buttons -->
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                {{ todo.todo|raw }}
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            {% if  todo.isDone %}Validé le {{ todo.dateDone|date('d/m/Y') }} pour {% endif %}{{ todo.client.fullName }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4>Contacts</h4>
            <table class="table w-100">
                <thead>
                <tr>
                    <th style="color: #f5f5f4;">Nom</th>
                    <th style="color: #f5f5f4;">Téléphone</th>
                    <th style="color: #f5f5f4;">Gsm</th>
                    <th style="color: #f5f5f4;">Mail</th>
                    <th style="color: #f5f5f4;">Com.</th>
                    <th style="color: #f5f5f4;"></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in company.contact %}
                    <tr>
                        <td>{{ contact.fullname }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.gsm }}</td>
                        <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                        <td>{% if contact.addedBy is not empty %}{{ contact.addedBy.fullnameMinified }}{% endif %}</td>
                        <td class="text-right">
                            {% set url = ea_url()
                                .setController('App\\Controller\\Admin\\CompanyContactCrudController')
                                .setAction('detail')
                                .setEntityId(contact.id)
                                .setReferrer(referrer)
                            %}
                            <a href="{{ url }}" style="color: #0a0a0a"><i class="fa-solid fa-eye"></i></a>
                            {% set url = ea_url()
                                .setController('App\\Controller\\Admin\\CompanyContactCrudController')
                                .setAction('edit')
                                .setEntityId(contact.id)
                                .setReferrer(referrer)
                            %}
                            <a href="{{ url }}" style="color: #0a0a0a"><i class="fa-solid fa-user-pen m-2"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}