
<!-- ------------------------------- -->
<!-- start profile Dropdown -->
<!-- ------------------------------- -->
<li class="nav-item dropdown">
    <a class="nav-link" href="javascript:void(0)" id="drop1" aria-expanded="false">
        <div class="d-flex align-items-center gap-2 lh-base">
            <img src="https://api.multiavatar.com/{{ app.user.email }}.png?apikey=xFoaTuh1lyRcpX" class="rounded-circle" width="35" height="35" alt="matdash-img" />
            <iconify-icon icon="solar:alt-arrow-down-bold" class="fs-2"></iconify-icon>
        </div>
    </a>
    <div class="dropdown-menu profile-dropdown dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop1">
        <div class="position-relative px-4 pt-3 pb-2">
            <div class="d-flex align-items-center mb-3 pb-3 border-bottom gap-6">
                <img src="https://api.multiavatar.com/{{ app.user.email }}.png?apikey=xFoaTuh1lyRcpX" class="rounded-circle" width="56" height="56" alt="matdash-img" />
                <div>
                    <h5 class="mb-0 fs-12">{{ app.user.fullname }}
                    </h5>
                    <p class="mb-0 text-dark">
                        {{ app.user.email }}
                    </p>
                </div>
            </div>
            <div class="message-body">
                <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').set('routeName', 'admin_update_profile') }}" class="p-2 dropdown-item h6 rounded-1">
                    {{ 'app.menus.profile.dropdown.my_profile'|trans }}
                </a>
                <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').set('routeName', 'admin_password_update') }}" class="p-2 dropdown-item h6 rounded-1">
                    {{ 'app.menus.profile.dropdown.update_password'|trans }}
                </a>
                {% if app.user.isTotpAuthenticationEnabled() %}
                    <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').set('routeName', 'app_2fa_disable') }}" class="p-2 dropdown-item h6 rounded-1">
                        {{ 'app.menus.profile.dropdown.delete_twofactor_auth'|trans }}
                    </a>
                {% else %}
                    <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').set('routeName', 'admin_2fa_enable') }}" class="p-2 dropdown-item h6 rounded-1">
                        {{ 'app.menus.profile.dropdown.add_twofactor_auth'|trans }}
                    </a>
                {% endif%}
                {% if is_granted('IS_IMPERSONATOR') %}
                    <a href="{{ impersonation_exit_path(path('app')) }}" class="p-2 dropdown-item h6 rounded-1">
                        Revenir au compte principal
                    </a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="p-2 dropdown-item h6 rounded-1">
                    {{ 'app.menus.profile.dropdown.logout'|trans }}
                </a>
            </div>
        </div>
    </div>
</li>
<!-- ------------------------------- -->
<!-- end profile Dropdown -->
<!-- ------------------------------- -->