<li class="nav-item dropdown nav-icon-hover-bg rounded-circle">
    <a class="nav-link" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
        <iconify-icon icon="iconoir:shortcut-square" width="40" height="40"></iconify-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
        <div class="message-body" style="min-width: 300px;">
            <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\CompanyContactCrudController').setAction('new') }}" class="d-flex align-items-center position-relative m-2">
                <div class="bg-primary-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                    <iconify-icon icon="pixelarticons:contact-plus" width="40" height="40"></iconify-icon>
                </div>
                <div>
                    <h6 class="mb-0">Créer un contact</h6>
                </div>
            </a>
            <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\SalesCrudController').setAction('new') }}" class="d-flex align-items-center position-relative m-2">
                <div class="bg-warning-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                    <iconify-icon icon="foundation:burst-sale" width="40" height="40"></iconify-icon>
                </div>
                <div>
                    <h6 class="mb-0">Créer une vente</h6>
                </div>
            </a>
            <a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\TodoCrudController').setAction('new') }}" class="d-flex align-items-center position-relative m-2">
                <div class="bg-info-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                    <iconify-icon icon="wpf:todo-list" width="40" height="40"></iconify-icon>
                </div>
                <div>
                    <h6 class="mb-0">Créer un to do</h6>
                </div>
            </a>
            <a href="{{ path('project_new') }}" class="d-flex align-items-center position-relative m-2">
                <div class="bg-danger-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                    <iconify-icon icon="fa6-solid:diagram-project" width="40" height="40"></iconify-icon>
                </div>
                <div>
                    <h6 class="mb-0">Créer un projet</h6>
                </div>
            </a>
            <a href="{{ path('sales_flash_create') }}" class="d-flex align-items-center position-relative m-2">
                <div class="bg-success-subtle rounded round-48 me-3 d-flex align-items-center justify-content-center">
                    <iconify-icon icon="foundation:burst-sale" width="40" height="40"></iconify-icon>
                </div>
                <div>
                    <h6 class="mb-0">Créer une vente flash</h6>
                </div>
            </a>
        </div>
    </div>
</li>