<aside class="left-sidebar with-horizontal">
    <!-- Sidebar scroll-->
    <div>
        <!-- Sidebar navigation-->
        <nav id="sidebarnavh" class="sidebar-nav scroll-sidebar container-fluid">
            <ul id="sidebarnav">
                <!-- =================== -->
                <!-- Dashboard -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <span>
                    <iconify-icon icon="mingcute:dashboard-fill" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">{{ 'app.menus.top.dashboard'|trans }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="{{ path('app') }}" class="sidebar-link">
                                <iconify-icon icon="material-symbols:dashboard" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">{{ 'app.menus.top.dashboard.main'|trans }}</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/index2.html" class="sidebar-link">
                                <iconify-icon icon="fluent-mdl2:b-i-dashboard" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">{{ 'app.menus.top.dashboard.general'|trans }}</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/index3.html" class="sidebar-link">
                                <iconify-icon icon="carbon:dashboard" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">{{ 'app.menus.top.dashboard.commercial'|trans }}</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/index3.html" class="sidebar-link">
                                <iconify-icon icon="streamline:graph-solid" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">{{ 'app.menus.top.dashboard.sales'|trans }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Projets -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <iconify-icon icon="fa6-solid:diagram-project" width="25" height="25"></iconify-icon>
                    <span class="hide-menu">Projets</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <span>
                    <iconify-icon icon="fa6-solid:diagram-project" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">Projets</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="../main/app-calendar.html" class="sidebar-link">
                                <iconify-icon icon="material-symbols:event" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Events</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/apps-kanban.html" class="sidebar-link">
                                <iconify-icon icon="ri:vip-fill" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Package VIP</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/app-chat.html" class="sidebar-link">
                                <iconify-icon icon="octicon:sponsor-tiers-16" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Sponsoring</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="../main/app-email.html" aria-expanded="false">
                      <span>
                        <iconify-icon icon="arcticons:nothing-x" width="25" height="25"></iconify-icon>
                      </span>
                                <span class="hide-menu">Divers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/app-contact.html" class="sidebar-link">
                                <iconify-icon icon="ph:archive-bold" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Archives</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Clients -->
                <!-- ============================= -->
                <li class="nav-small-cap">
                    <iconify-icon icon="carbon:customer" width="25" height="25"></iconify-icon>
                    <span class="hide-menu">Clients</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <span>
                    <iconify-icon icon="carbon:customer" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">Clients</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="../main/page-faq.html" class="sidebar-link">
                                <iconify-icon icon="mdi:company" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Société</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/page-account-settings.html" class="sidebar-link">
                                <iconify-icon icon="teenyicons:contact-solid" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Contact</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/page-pricing.html" class="sidebar-link">
                                <iconify-icon icon="solar:import-bold" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Import</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/page-pricing.html" class="sidebar-link">
                                <iconify-icon icon="material-symbols:mail" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Mailing</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- =================== -->
                <!-- Ventes -->
                <!-- =================== -->
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:euro-bold" width="25" height="25"></iconify-icon>
                    <span class="hide-menu">Ventes</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <span>
                    <iconify-icon icon="solar:euro-bold" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">Ventes</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="../main/app-calendar.html" class="sidebar-link">
                                <iconify-icon icon="material-symbols:event" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Events</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/apps-kanban.html" class="sidebar-link">
                                <iconify-icon icon="ri:vip-fill" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Package VIP</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/app-chat.html" class="sidebar-link">
                                <iconify-icon icon="octicon:sponsor-tiers-16" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Sponsoring</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="../main/app-email.html" aria-expanded="false">
                      <span>
                        <iconify-icon icon="arcticons:nothing-x" width="25" height="25"></iconify-icon>
                      </span>
                                <span class="hide-menu">Divers</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="../main/app-contact.html" class="sidebar-link">
                                <iconify-icon icon="ph:archive-bold" width="25" height="25"></iconify-icon>
                                <span class="hide-menu">Archives</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- ============================= -->
                <!-- Bon de commande -->
                <!-- ============================= -->
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/app/tests">
                  <span>
                    <iconify-icon icon="lets-icons:order" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">Bon de commande</span>
                    </a>
                </li>
                <!-- =================== -->
                <!-- To do -->
                <!-- =================== -->
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/app/tests">
                  <span>
                    <iconify-icon icon="lucide:list-todo" width="25" height="25"></iconify-icon>
                  </span>
                        To do
                    </a>
                </li>
                <li class="nav-small-cap">
                    <iconify-icon icon="fa6-solid:diagram-project" width="25" height="25"></iconify-icon>
                    <span class="hide-menu">Admin</span>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                  <span>
                      <iconify-icon icon="ri:admin-fill" width="25" height="25"></iconify-icon>
                  </span>
                        <span class="hide-menu">Admin</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ ea_url()
                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                .setController('App\\Controller\\Admin\\UserCrudController')
                                .setAction('index') }}">
                                  <span>
                                    <iconify-icon icon="mdi:users" width="25" height="25"></iconify-icon>
                                  </span>
                                <span class="hide-menu">Utilisateurs</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/app/tests">
                              <span>
                                <iconify-icon icon="solar:sale-bold" width="25" height="25"></iconify-icon>
                              </span>
                                <span class="hide-menu">Commissions</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ ea_url()
                                .setDashboard('App\\Controller\\Admin\\DashboardController')
                                .setController('App\\Controller\\Admin\\TodoTypeCrudController')
                                .setAction('index') }}">
                              <span>
                                  <iconify-icon icon="dashicons:admin-tools" width="25" height="25"></iconify-icon>
                              </span>
                                <span class="hide-menu">Type de to do</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>