{# Rows #}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~ "_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default(''))|trim})} %}{{ block('attributes') }}{% endwith %}>

    {{ form_label(form) }}

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
        {{ form_widget(form, widget_attr) }}
    </div>
    {{ form_help(form) }}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{# Errors #}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                {% if error.cause.constraint.pattern is not defined %}
                    <span class="d-block">
                        <span class="form-error-icon badge bg-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message }}</span>
                    </span>
                {% endif %}
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{# Help #}

{% block form_help -%}
    {% set secure_error = false %}

    {% for error in errors %}
        {% if error.cause.constraint.pattern is defined %}
            {% set secure_error = true %}
        {% endif %}
    {% endfor %}

    <small
        {% if secure_error == true %}
            class="text-danger"
        {% endif %}
    >
        {{ 'form_theme.secure_password.intro'|trans }} :
        <ul>
            <li>{{ 'form_theme.secure_password.characters_count'|trans }}</li>
            <li>{{ 'form_theme.secure_password.maj_count'|trans }}</li>
            <li>{{ 'form_theme.secure_password.number_count'|trans }}</li>
            <li>{{ 'form_theme.secure_password.special_character_count'|trans }}</li>
        </ul>
    </small>
{%- endblock form_help %}

{#{% block form_label -%}#}
{#{%- endblock form_label %}#}