<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | {{ 'layout.site_name'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex">

        {{ encore_entry_link_tags('lib') }}
        {{ encore_entry_link_tags('portal') }}
    {#    {{ app.environment != 'dashboard' ? encore_entry_link_tags('cookies') }}#}

        <link href="{{ asset('build/portal/images/app-logo.png') }}" rel="shortcut icon" type="image/png"/>

    {#    {{ encore_entry_script_tags('components') }}#}
        {{ encore_entry_script_tags('lib') }}
        {{ encore_entry_script_tags('portal') }}

        {% block extra_head %}{% endblock %}

    {#    {{ app.environment != 'dashboard' ? encore_entry_script_tags('cookies') }}#}
        </head>
    {% if is_granted(constant('App\\Entity\\User::ROLE_USER')) %}
        <body class="app">
            {% include "partials/_header.html.twig" %}
            <div class="app-wrapper">
                <div class="app-content pt-3 p-md-3 p-lg-4">
                    <div class="container-xl">
                        {{ component('notification') }}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </body>
    {% else %}
        <body class="app {% if element is defined and element == 'reset-password' %}app-reset-password{% else %}app-login{% endif %} p-0">
        {% block login %}{% endblock %}
        </body>
    {% endif %}
</html>