{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Tableau de bord - Gestion{% endblock %}
{% block page_title %}Verhulst & Friends - ERP - {{ block('content_title') }}{% endblock %}

{% block main %}
            <div class="row">
                <div class="col-5">
                    <h3>Ventes Totales</h3>
                    <div id="sales_tot">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                {% set url = ea_url().setAction('sales_tot').set('year', year-1) %}
                                <a class="nav-link active" aria-current="page" href="{{ url }}"><i class="fa-solid fa-left-long fa-2x"></i></a>
                            </li>
                            <li class="nav-item align-content-end">
                                <a class="nav-link disabled" aria-current="page" href="#" hx-target="#sales_tot" hx-trigger="load" hx-get="{{ path('sales_tot', {_locale: locale, year: year}) }}" hx-swap="outerHTML"><b>{{ year }}</b></a>
                            </li>
                            <li class="nav-item">
                                {% set url = ea_url().setAction('sales_tot').set('year', year+1) %}
                                <a class="nav-link active" aria-current="page" href="{{ url }}"><i class="fa-solid fa-right-long fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 offset-1">
                    <h3>Ventes Commerciaux</h3>
                    <div id="users_tot">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                {% if month_num-1 < 1 %}
                                    {% set url = ea_url().set('month', 12).set('year', year-1) %}
                                {% else %}
                                    {% set url = ea_url().set('month', month_num-1).set('year', year) %}
                                {% endif %}
                                <a class="nav-link active" aria-current="page" href="{{ url }}"><i class="fa-solid fa-left-long fa-2x"></i></a>
                            </li>
                            <li class="nav-item align-content-end">
                                <a class="nav-link disabled" aria-current="page" href="#" hx-target="#users_tot" hx-trigger="load" hx-get="{{ path('users_tot', {_locale: locale, year: year, month: month_num}) }}" hx-swap="outerHTML"><b>{{ month }} {{ year }}</b></a>
                            </li>
                            <li class="nav-item">
                                {% if month_num+1 > 12 %}
                                    {% set url = ea_url().set('month', 1).set('year', year+1) %}
                                {% else %}
                                    {% set url = ea_url().set('month', month_num+1).set('year', year) %}
                                {% endif %}
                                <a class="nav-link active" aria-current="page" href="{{ url }}"><i class="fa-solid fa-right-long fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    <div class="row mb-3">
        <div class="col-3 mb-3">
            <a href="{{ ea_url().setController('App\\Controller\\Admin\\SalesRecapCrudController').setAction('index') }}" class="alert alert-info">Vers le récapitulatif des ventes</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <h3>Les 10 dernières ventes</h3>

            <table class="table table-hover">
                <thead class="table-primary">
                <tr>
                    <th scope="col">Sales</th>
                    <th scope="col">Société</th>
                    <th scope="col">Projet</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-right">PA</th>
                    <th scope="col" class="text-right">PU</th>
                    <th scope="col" class="text-right">Q</th>
                    <th scope="col" class="text-right">Total</th>
                    <th scope="col" class="text-right">Réduc</th>
                    <th scope="col" class="text-right">PV</th>
                    <th scope="col" class="text-center">%S</th>
                    <th scope="col" class="text-right">€S</th>
                    <th scope="col" class="text-center">%V</th>
                    <th scope="col" class="text-right">€V</th>
                    <th scope="col" class="text-right">Net</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                {% set total_price = 0 %}
                {% set total_euroCom = 0 %}
                {% set total_eurovr = 0 %}
                {% set total_margevr = 0 %}
                {% set total_discount = 0 %}
                {% set total_marge = 0 %}

                {% for sale in sales %}
                    {% set total_price = total_price + sale.totalPrice %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    {% set total_eurovr = total_eurovr + sale.euroVr %}
                    {% set total_margevr = total_margevr + sale.diffCa  %}
                    {% set total_discount = total_discount + sale.discount  %}
                    {% set total_marge = total_marge + sale.marge  %}
                    <tr>
                        <th scope="row">
                            {{ sale.user.fullnameMinified }}
                        </th>
                        <th scope="row">
                            {{ sale.contact.company.name }}
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}</th>
                        <td>{{ sale.date|date('d/m/y') }}</td>
                        <td class="text-right">{{ (sale.pa)|number_format(2, ',', '.') }}€</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', '.') }}€</td>
                        <td class="text-right">{{ (sale.quantity) }}</td>
                        <td class="text-right">{{ (sale.totalPrice)|number_format(2, ',', '.') }}€</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', '.') }}€</td>
                        <td class="text-right">{{ (sale.marge)|number_format(2, ',', '.') }}€</td>
                        <td class="text-center">{{ sale.percentCom }}%</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', '.') }}€</td>
                        <td class="text-center">{{ sale.percentVr }}%</td>
                        <td class="text-right">{{ sale.euroVr|number_format(2, ',', '.') }}€</td>
                        <td class="text-right">{{ sale.net|number_format(2, ',', '.') }}€</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit m-2" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i></a>
                            {% set url_detail = ea_url()
                                .setAction('detail')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit m-2" href="{{ url_detail }}" title="Détails" data-action-name="detail"><i class="action-icon fa fa-eye"></i> <span class="action-label" title="Détails"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3>Les To do</h3>
                    <table class="table table-hover">
                        <thead class="table-primary">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Commercial</th>
                            <th scope="col">Client</th>
                            <th scope="col">Projet</th>
                            <th scope="col">To do</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Gsm</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for todo in todos %}
                            <tr class="{% if todo.done %}alert alert-success{% else %}{% if todo.dateReminder|date('Y-m-d') < date('now')|date('Y-m-d') %}alert alert-danger{% elseif  todo.dateReminder|date('Y-m-d') == date('now')|date('Y-m-d') %}alert alert-warning{% endif %}{% endif %}">
                                <th scope="row">
                                    {{ todo.type }}
                                </th>
                                <th scope="row">
                                    {{ todo.dateReminder|date('d/m/Y') }}
                                </th>
                                <th scope="row">
                                    {{ todo.user.fullName }}
                                </th>
                                <th scope="row">
                                    {% if todo.client is not null %}{{ todo.client.company.name }} ({{ todo.client.fullName }}){% endif %}
                                </th>
                                <th scope="row">{% if todo.project is not null %}{{ todo.project.name }}{% endif %}</th>
                                <td>
                                    <div class="modal fade" id="exampleModal{{ todo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ todo.todo|raw }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ todo.todo|striptags|slice(0, 50) }}
                                    {% if todo.todo|striptags|length > 50 %}
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{ todo.id }}"><i class="far fa-eye"></i></a>
                                    {% endif %}
                                </td>
                                <td>{% if todo.client is not null and todo.client.phone is not null %}<a href="tel:{{ todo.client.phone }}">{{ todo.client.phone }}</a>{% endif %}</td>
                                <td>{% if todo.client is not null and todo.client.gsm is not null %}<a href="tel:{{ todo.client.gsm }}">{{ todo.client.gsm }}</a>{% endif %}</td>
                                <td class="action">
                                    {% set url_edit = ea_url()
                                        .setAction('edit')
                                        .setController('App\\Controller\\Admin\\TodoCrudController')
                                        .setEntityId(todo.id)
                                    %}
                                    <a class="action-edit m-2" href="{{ url_edit }}" title="Modifier" data-action-name="edit"><i class="action-icon fa fa-pencil-alt" title="Modifier"></i></a>
                                    {% set url_detail = ea_url()
                                        .setAction('detail')
                                        .setController('App\\Controller\\Admin\\TodoCrudController')
                                        .setEntityId(todo.id)
                                    %}
                                    <a class="action-edit m-2" href="{{ url_detail }}" title="Details" data-action-name="view"><i class="action-icon fa fa-eye" title="Voir"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}