{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title %}Tableau de bord{% endblock %}
{% block page_title %}Verhulst & Friends - ERP - {{ block('content_title') }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-5">
            <h3>Mes ventes</h3>
            <div id="my_sales">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-left-long fa-2x"></i></a>
                    </li>
                    <li class="nav-item align-content-end">
                        <a class="nav-link disabled" aria-current="page" href="#" hx-target="#my_sales" hx-trigger="load" hx-get="{{ path('my_sales', {_locale: locale, year: year}) }}" hx-swap="outerHTML"><b>{{ year }}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-right-long fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-5 offset-1">
            <h3>Mes commissions</h3>
            <div id="my_com">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-left-long fa-2x"></i></a>
                    </li>
                    <li class="nav-item align-content-end">
                        <a class="nav-link disabled" aria-current="page" href="#" hx-target="#my_com" hx-trigger="load" hx-get="{{ path('my_com', {_locale: locale, year: year}) }}" hx-swap="outerHTML"><b>{{ year }}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-right-long fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3>Mes Todos</h3>
            <table class="table table-hover">
                <thead class="table-primary">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Projet</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Fait ?</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr class="{% if todo.done %}alert alert-success{% else %}{% if todo.dateReminder|date('Y-m-d') < date('now')|date('Y-m-d') %}alert alert-danger{% else %}alert alert-warning{% endif %}{% endif %}">
                        <th scope="row">
                            {{ todo.type }}
                        </th>
                        <th scope="row">
                            {{ todo.dateReminder|date('d/m/Y') }}
                        </th>
                        <th scope="row">
                            {% if todo.client is not null %}{{ todo.client.fullName }}{% endif %}
                        </th>
                        <th scope="row">{% if todo.project is not null %}{{ todo.project.name }}{% endif %}</th>
                        <td>
                            <div class="modal fade" id="exampleModal{{ todo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ todo.todo|raw }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ todo.todo|striptags|slice(0, 50) }}
                            {% if todo.todo|striptags|length > 50 %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{ todo.id }}"><i class="far fa-eye"></i></a>
                            {% endif %}
                        </td>
                        <td>{% if todo.done %}<i class="fa-solid fa-check"></i>{% else %}<i class="fa-solid fa-hourglass"></i>{% endif %}</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\TodoCrudController')
                                .setEntityId(todo.id)
                                .set('referrer', ea.request.requestUri)
                            %}
                            <a class=" action-edit m-2" href="{{ url_edit }}" title="Modifier" data-action-name="Modifier"><i class="action-icon fa fa-pencil-alt" title="Modifier"></i></a>
                            {% set url_detail = ea_url()
                                .setAction('detail')
                                .setController('App\\Controller\\Admin\\TodoCrudController')
                                .setEntityId(todo.id)
                            %}
                            <a class=" action-edit m-2" href="{{ url_detail }}" title="Modifier" data-action-name="Voir"><i class="action-icon fa fa-eye" title="Voir"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3>Mes 10 dernières ventes</h3>
            <table class="table table-hover">
                <thead class="table-primary">
                <tr>
                    <th scope="col">Société</th>
                    <th scope="col">Projet</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-right">CA</th>
                    <th scope="col" class="text-right">Quantity</th>
                    <th scope="col" class="text-right">CA Total</th>
                    <th scope="col" class="text-right">Réduction</th>
                    <th scope="col" class="text-right">Marge</th>
                    <th scope="col" class="text-center">% Sales</th>
                    <th scope="col" class="text-right">€ Sales</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% set total_price = 0 %}
                {% set total_euroCom = 0 %}
                {% set total_marge = 0 %}

                {% for sale in sales %}
                    {% set total_price = total_price + sale.totalPrice %}
                    {% set total_euroCom = total_euroCom + sale.euroCom %}
                    {% set total_marge = total_marge + sale.marge %}
                    <tr>
                        <th scope="row">
                                {{ sale.contact.firstname }} {{ sale.contact.lastname }} ({{ sale.contact.company.name }})
                        </th>
                        <th scope="row">
                            {{ sale.product.project.name }}
                        </th>
                        <th scope="row">{{ sale.product.name }}</th>
                        <td>{{ sale.date|date('d/m/Y') }}</td>
                        <td class="text-right">{{ (sale.price)|number_format(2, ',', ' ') }} €</td>
                        <td class="text-right">{{ (sale.quantity) }}</td>
                        <td class="text-right">{{ (sale.totalPrice)|number_format(2, ',', ' ') }} €</td>
                        <td class="text-right">{{ (sale.discount)|number_format(2, ',', ' ') }} €</td>
                        <td class="text-right">{{ (sale.marge)|number_format(2, ',', ' ') }} €</td>
                        <td class="text-center">{{ sale.percentCom }} %</td>
                        <td class="text-right">{{ sale.euroCom|number_format(2, ',', ' ') }}  €</td>
                        <td class="action">
                            {% set url_edit = ea_url()
                                .setAction('edit')
                                .setController('App\\Controller\\Admin\\SalesCrudController')
                                .setEntityId(sale.id)
                            %}
                            <a class=" action-edit" href="{{ url_edit }}" title="Edit" data-action-name="edit"><i class="action-icon fa fa-pencil-alt"></i> <span class="action-label" title="Modifier"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="table-primary">
                    <th scope="row" colspan="6">
                        Totaux
                    </th>
                    <th class="text-right">{{ total_price|number_format(2, ',', ' ') }} €</th>
                    <th></th>
                    <th class="text-right">{{ total_marge|number_format(2, ',', ' ') }} €</th>
                    <th></th>
                    <th class="text-right">{{ total_euroCom|number_format(2, ',', ' ') }} €</th>
                    <th></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}