<div {{ attributes }}>
    <div data-loading="addClass(opacity-50)">
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}


    <div class="row">
        <div class="col-8">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="col-2">
            {{ form_label(form.po) }}
            {{ form_widget(form.po) }}
            {{ form_errors(form.po) }}
        </div>
        <div class="col-2">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity) }}
            {{ form_errors(form.quantity) }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4 border">
            {{ form_label(form.type_vente) }}
            {{ form_widget(form.type_vente) }}
            {{ form_errors(form.type_vente) }}
            <div class="col-12 mt-3 mb-3">
            {% if form.forecast_price is defined %}
                {{ form_label(form.forecast_price) }}
                {{ form_widget(form.forecast_price) }}
                {{ form_errors(form.forecast_price) }}
            {% endif %}
            {% if form.price is defined %}
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}


                {% if form.validate is defined %}
                    <div class="col-12 mt-3 mb-3">
                        {{ form_label(form.validate) }}
                        {{ form_widget(form.validate) }}
                        {{ form_errors(form.validate) }}
                    </div>
                {% endif %}
            {% endif %}
            </div>
        </div>

        <div class="col-2 border">
            {{ form_label(form.type_com) }}
            {{ form_widget(form.type_com) }}
            {{ form_errors(form.type_com) }}
            {% if form.com1 is defined %}
                <div class="col-12 mt-3 mb-3">
                    {{ form_label(form.com1) }}
                    {{ form_widget(form.com1) }}
                    {{ form_errors(form.com1) }}
                </div>
            {% endif %}
        </div>
        <div class="col-2 border">
            {{ form_label(form.type_com_sale) }}
            {{ form_widget(form.type_com_sale) }}
            {{ form_errors(form.type_com_sale) }}
            {% if form.percent_com is defined %}
                <div class="col-12 mt-3 mb-3">
                    {{ form_label(form.percent_com) }}
                    {{ form_widget(form.percent_com) }}
                    {{ form_errors(form.percent_com) }}
                </div>
            {% endif %}
        </div>

        <div class="col-4">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>
    </div>

    <button name="submitbtn" class="btn btn-primary mt-3" type="submit">
        {{ 'Créer la vente'|trans }}
    </button>

    <a href="{{ path('sales_flash_create') }}" class="btn btn-danger mt-3">
        {{ 'Annuler'|trans }}
    </a>


    {{ form_end(form) }}
    </div>
</div>