<div class="row" {{ attributes }}>
    <div class="col-12">

        <div class="card card-body py-3">
            {{ form_start(form) }}
            <div class="row">
                        <div class="col-3">
                            {{ form_row(form.min) }}
                        </div>

                        <div class="col-3">
                            {{ form_row(form.max) }}
                        </div>
                        <div class="col-4 d-flex justify-content-start">

                        </div>
                        <div class="col-2 text-end">
                            <a href="{{ path('sales_flash_create') }}" class="btn btn-primary">Créer une vente flash</a>
                        </div>
                        <div class="col-lg-12">
                            <div class="row mt-3">
                                <label class="form-label">Sales</label>
                                {% for user in form.users %}
                                    <div class="col-2">
                                        {{ form_label(user)}}
                                        {{ form_widget(user, {'attr': {'data-model': 'users[]'}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
            {{ form_end(form) }}
            </div>
        </div>
        <div class="card card-body py-3">
            <table class="table table-striped" data-loading="addClass(opacity-50)">
                <thead>
                <tr>
                    <th>Sale</th>
                    <th>Produit</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Prix unitaire</th>
                    <th>Prix total </th>
                    <th>Com TF</th>
                    <th>Com Sales</th>
                    <th>Validée ?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for sale in this.fastSales %}
                    <tr>
                        <td><h6 class="mb-0">{{ sale.user.fullname }}</h6></td>
                        <td><h6 class="mb-0">{{ sale.name }}</h6><i>Numéro de PO :  {{ sale.po }}</i></td>
                        <td><h6 class="mb-0">{{ sale.contact.fullName }}</h6><i>{% if sale.contact.company is empty %}-{% else %}{{  sale.contact.company.name }}{% endif %}</i></td>
                        <td><h6 class="mb-0">{{ sale.date|date('d/m/Y') }}</h6></td>
                        <td><h6 class="mb-0">{{ sale.price|number_format(2, ',', '.') }}€</h6><i>Quantité : {{ sale.quantity }}</i></td>
                        <td><h6 class="mb-0">Prix final : {{ sale.totalPrice|number_format(2, ',', '.') }}€</h6><i>Prix temporaire : {{ sale.totalForecastPrice|number_format(2, ',', '.') }}€</i></td>
                        <td><h6 class="mb-0">{{ sale.totalVr|number_format(2, ',', '.') }}€</h6><i>{% if sale.percentVrType != 'fixed' %}{{ sale.percentVr }}%{% else %}Prix fixe{% endif %}</i></td>
                        <td><h6 class="mb-0">{{ sale.totalCom|number_format(2, ',', '.') }}€</h6><i>{% if sale.percentComType != 'fixed' %}{{ sale.percentCom }}%{% endif %} {% if sale.percentComType == 'percent_pv' %}du PV{% elseif sale.percentComType == 'percent_com' %} de la marge TF{% else %}Prix fixe{% endif %}</i></td>
                        <td>{% if sale.validate %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</td>
                        <td>
                            {% if not sale.validate %}
                            <div class="dropdown dropstart">
                                <a href="javascript:void(0)" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <iconify-icon icon="solar:menu-dots-bold"></iconify-icon>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                                    <li>
                                        <a href="{{ path('sales_flash_edit', {sale: sale.id}) }}" class="dropdown-item d-flex align-items-center gap-3">
                                            <i class="fa-solid fa-pen-to-square"></i> Modifier
                                        </a>
                                    </li>
                                    <li>
                                        <a data-action="live#action" data-live-action-param="validate" data-live-id-param="{{ sale.id }}" class="dropdown-item d-flex align-items-center gap-3">
                                            <i class="fa-solid fa-check"></i> Valider
                                        </a>
                                    </li>
                                        <li>
                                            <a href="#" data-action="live#action" data-live-action-param="delete" data-live-id-param="{{ sale.id }}" class="dropdown-item d-flex align-items-center gap-3">
                                                <i class="fa-solid fa-trash"></i> Supprimer
                                            </a>
                                        </li>
                                </ul>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Sale</th>
                    <th>Produit</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Prix unitaire</th>
                    <th>Prix total </th>
                    <th>Com TF</th>
                    <th>Com Sales</th>
                    <th>Validée ?</th>
                    <th></th>
                </tr>
                </tfoot>

            </table>
            <div class="navigation">
                {{ knp_pagination_render(this.fastSales) }}
            </div>
        </div>
    </div>
</div>