{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Commissions{% endblock %}
{% block page_title %}Verhulst & Friends - ERP - {{ block('content_title') }}{% endblock %}

{% block main %}

    <nav>
        <div class="nav nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
            <button class="flex-sm-fill text-sm-center nav-link" id="nav-sponsoring-tab" data-bs-toggle="tab" data-bs-target="#nav-sponsoring" type="button" role="tab" aria-controls="nav-sponsoring" aria-selected="false">Sponsoring</button>
            <button class="flex-sm-fill text-sm-center nav-link" id="nav-package-tab" data-bs-toggle="tab" data-bs-target="#nav-package" type="button" role="tab" aria-controls="nav-package" aria-selected="false">Package VIP</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade mt-3" id="nav-sponsoring" role="tabpanel" aria-labelledby="nav-sponsoring-tab">
            <h3 class="text-uppercase text-center font-weight-bolder verhulst">Sponsoring</h3>
            <table class="table table-hover">
                <thead class="table-primary">
                {{ include('admin/commission/_header.html.twig') }}
                </thead>
                <tbody>
                {% for product in productsSponsor %}
                    {{ include('admin/commission/_line.html.twig') }}
                {% endfor %}
                </tbody>
                <tfoot class="table-primary">
                {{ include('admin/commission/_header.html.twig') }}
                </tfoot>
            </table>
        </div>
        <div class="tab-pane fade mt-3" id="nav-package" role="tabpanel" aria-labelledby="nav-package-tab">
            <h3 class="text-uppercase text-center font-weight-bolder verhulst">Package VIP</h3>
            <table class="table table-hover">
                <thead class="table-primary">
                {{ include('admin/commission/_header.html.twig') }}
                </thead>
                <tbody>
                {% for product in productsPackage %}
                    {{ include('admin/commission/_line.html.twig') }}
                {% endfor %}
                </tbody>
                <tfoot class="table-primary">
                {{ include('admin/commission/_header.html.twig') }}
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}