{% set form = this.getForm %}

{% if 'http' in form %}
    {{ form|raw }}
{% else %}
{% form_theme form.newPassword 'form_theme/secure_password.html.twig' %}


<div id="account_change_password" class="mt-4">
    <div class="app-card app-card-basic d-flex flex-column">
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">
                <div class="col-auto">
                    <div class="app-icon-holder">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="col-auto">
                    <h4 class="app-card-title">{{ 'password_update.title'|trans }}</h4>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="app-card-body px-4">
            {{ form_row(form.oldPassword) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_errors(form.newPassword.first) }}
                    {{ form_widget(form.newPassword.first) }}
                    {{ form_help(form.newPassword) }}
                </div>
                <div class="col-md-6">
                    {{ form_errors(form.newPassword.second) }}
                    {{ form_widget(form.newPassword.second) }}
                </div>
            </div>
        </div>
        <div class="app-card-footer p-4 mt-auto">
            <a href="{{ path('home') }}" class="btn app-btn-secondary">{{ 'password_update.back'|trans }}</a>
            <button type="submit" class="btn app-btn-primary"><i class="bi bi-save"></i>{{ 'password_update.form.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endif %}